<script type="text/javascript">
$(document).ready(function(){
  $('#notification_active').on('click', function(){
    let id = $(this).attr('data-id')
    let article_id = $(this).attr('data-article-id')
    $.ajax({
      type: 'POST',
      url: '{% url "blog:mark_notification_as_read" %}',
      data: {'id': id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
      dataType: 'json',
      success: function(response){
        if (response.marked)
          window.location.href = "https://myblog.com/ws/article/"+article_id;
        else
          console.log('Notification not found.')
      },
      error: function(rs, e){
        console.log(rs.responseText);
      }
    });
  })
})

</script>
<div class="alert alert-block alert-{{ notice.level }}">
  <a class="close" href="{% url 'notifications:mark_as_read' notice.slug %}">
    <i class="fa fa-times"></i>
  </a>
  <h4>
    <i class="icon-mail{% if notice.unread %}-alt{% endif %}"></i>
    {{ notice.actor }}
    {{ notice.verb }}
    {% if notice.target %}
      of {{ notice.target }}
    {% endif %}
  </h4>

  <p>{{ notice.timesince }} ago</p>

  <a id='notification_active' href='javascript:void(0);' data-id={{notice.id}} data-article-id="{{notice.action_object.id}}">{{notice.action_object.title}}</a><br>
  <p>{{notice.action_object.description}}</p>

  <div class="notice-actions">
    {% for action in notice.data.actions %}
      <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
    {% endfor %}
  </div>

</div>
