a {
  text-decoration: none;
  color: white;
  font-weight: 700; }

a:hover {
  text-decoration: none;
  color: silver; }

.reset_btn {
  padding: 10px 40px;
  border-radius: 50px;
  background: #353b48; }

.text_col {
  font-weight: 700;
  color: #353b48;
  font-family: "Times New Roman", Times, serif; }

.menu_col {
  padding-top: 70px;
  font-weight: 700;
  color: #353b48;
  font-family: "Times New Roman", Times, serif; }

p {
  font-family: italic;
  color: #696969; }

.reset_btn {
  margin-bottom: 20px; }

.text {
  margin-top: 30px; }

.form-control {
  border-radius: 50px; }
