.header_link a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: white; }

.header_link a:hover {
  color: LightGray; }

.btn_class {
  width: 100px;
  border-radius: 20px; }

.header_mobile {
  display: none; }

#exampleInputName {
  background-image: url("https://www.freepnglogos.com/uploads/search-png/search-icon-transparent-images-vector-16.png");
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 22px;
  outline: none;
  border-radius: 5px;
  height: 50px; }

.search__input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 2px solid silver; }

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px; }

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 30px;
  transition: width 0.4s linear; }

.searchbar:hover .search_input {
  padding: 0 10px;
  width: 300px;
  max-width: 50%;
  transition: width 0.4s linear; }

.searchbar:hover .search_icon {
  background: white;
  color: #696969; }

.search_icon {
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white; }

.fa-home:before {
  padding-right: 5px; }

.search {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding-left: 5px;
  border: 3px solid silver;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text; }
  .search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 21px;
    background: silver;
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: all 200ms ease; }
  .search:hover {
    width: 130px;
    margin-right: 0px; }
  .search input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    color: white;
    padding-bottom: 10px;
    background: transparent;
    outline-width: 0px; }

.inpt_search {
  width: 100px;
  height: 30px;
  border: 0px;
  border-bottom: 2px solid silver;
  background-color: #0e1823;
  color: white; }

.header_mobile {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10; }

@media screen and (max-width: 768px) {
  .header_md {
    display: none; }

  .header_mobile {
    display: block; } }
#bg0 {
  margin-top: 30px;
  margin-bottom: 30px; }

.article {
  overflow: hidden;
  position: relative; }

.like_article {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease; }

.like_article:hover {
  transform: scale(1.2); }

.like_article_title {
  color: white; }

.like_article_title:hover {
  color: white;
  text-decoration: none; }

.like_article-text {
  position: absolute;
  bottom: 0;
  padding: 0 0 0px 10px;
  font-weight: 500px;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.post-meta {
  font-size: 12px;
  font-style: italic;
  margin-top: 0px;
  color: white;
  font-weight: 600; }

.card_body {
  padding-left: 15px; }

.card_size {
  max-width: 630px;
  border: 0px; }

.card-text {
  color: silver; }

.card-title a:hover {
  color: #007bff; }

.img-hover-zoom img {
  transition: transform 0.4s ease; }

.img-hover-zoom:hover img {
  transform: scale(1.1); }

.card-text a {
  font-size: 15px;
  text-decoration: none;
  color: #0e1823;
  white-space: normal;
  display: box;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.card-img {
  height: 190px;
  width: 100%;
  object-fit: cover;
  object-position: center; }

.card_text a {
  font-size: 1 rem;
  text-decoration: none;
  color: silver; }

.card-title a {
  text-decoration: none;
  color: black;
  font-weight: 600; }

.post-meta {
  font-size: 14px;
  font-style: italic;
  margin-top: 0px;
  color: white;
  font-weight: 600; }

.post-meta a {
  text-decoration: none; }

.div_categories-comment-like ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }

.categories-comment-like_title {
  color: #505050; }

.categories-comment-like-item {
  padding-bottom: 45px; }

.div_categories-comment-like li {
  font-size: 14px; }

.categor-comment-like_item a:hover {
  color: #007bff; }

.cat_count {
  float: right;
  font-weight: 700;
  background-color: #f3f3f3;
  color: #9a9a9a;
  border-radius: 50px;
  padding: 0 8px; }

.categor-comment-like_item {
  padding-bottom: 15px;
  padding-top: 5px;
  border-bottom: 1px solid #e3e3e3;
  font-size: 15px; }

.categor-comment-like_item a {
  text-decoration: none;
  color: #888;
  font-weight: 500; }

.categor_div {
  display: block; }

.categor_mob {
  margin-right: 0px;
  display: none;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: 5;
  right: 0;
  font-weight: 700;
  color: #353b48; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }

.sidenav a {
  border-bottom: 1px solid silver;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

#categoryButton {
  z-index: 4;
  position: fixed;
  right: 0;
  cursor: pointer; }

@media screen and (max-width: 767px) {
  .categor_div {
    display: none; }

  .categor_mob {
    display: block; }

  .img-hover-zoom:hover img {
    transform: scale(1); }

  .content {
    margin-top: 50px; } }
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
ul.page-numbers {
  display: table;
  margin: 0 auto;
  list-style: none;
  background-color: #f4f4f4;
  padding: 5px 4px;
  border-radius: 30px;
  border-width: 0; }
  ul.page-numbers li {
    display: block;
    float: left;
    margin: 0 2px;
    text-align: center; }

ul.page-numbers .current {
  color: #fff;
  background-color: #353b48;
  border-radius: 30px; }

ul.page-numbers .current:hover {
  background-color: #007bff; }

ul.page-numbers a {
  text-decoration: none;
  color: #353b48; }

ul.page-numbers a:hover {
  color: #007bff; }

ul.page-numbers .current {
  font-weight: 700; }

ul.page-numbers a, ul.page-numbers span {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  cursor: pointer;
  padding: 0; }

.sh-pagination {
  padding-bottom: 20px; }

.list-inline-item a {
  color: #353b48; }

.list-inline-item a:hover {
  color: #007bff; }

.content {
  padding: 16px; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 60px; }

.card-card {
  margin-top: auto;
  width: 400px;
  background-color: white;
  border: 1px solid silver;
  margin-bottom: 20px; }

.card-body {
  padding: 10px 10px 0px 10px !important; }

.icon-fb {
  font-size: 46px;
  color: #32508E; }

.icon-goog {
  font-size: 46px;
  margin-left: 10px;
  color: #DD4B39; }

.icon-twit {
  font-size: 46px;
  margin-left: 10px;
  color: #55ACEE; }

.social_icon span:hover {
  cursor: pointer; }

.card-header h3 {
  color: black; }

.social_icon {
  height: 57px;
  background-color: white;
  position: absolute;
  right: 64px;
  top: 0px; }

.input-group-prepend span {
  width: 40px;
  background-color: #4169E1;
  color: black;
  border: 0 !important; }

.input-group-text {
  color: white !important; }

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important; }
special offer by product quantity
.remember {
  color: black; }

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px; }

.login_btn {
  color: white;
  background-color: #4169E1;
  width: 100px; }

.links {
  color: black; }

.links a {
  margin-left: 4px; }

.btn-reg {
  background: #32508E;
  color: white; }

.form-check {
  padding-top: 10px;
  padding-bottom: 10px; }

.btn-group {
  margin-bottom: 10px; }

.sign-up {
  margin-top: 10px;
  margin-bottom: 10px; }


/*# sourceMappingURL=style.css.map */
