<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load account %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% trans "Password Reset" %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}">

    </head>
    <body style="background: #f8f9fa!important;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <hr>
                    <h3 class="menu_col">Password reset</h3>
                    {% if user.is_authenticated %}
                      {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it. </p>
                    <form method="POST" action="/accounts/password/reset/" class="password_reset">
                      {% csrf_token %}
                      {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                      {% endif %}
                      <div class="form-group">
                          <label for="id_email" class="text_col">E-mail address</label>
                          <input type="email" size="30" name="email" class="form-control" id="id_email" aria-describedby="emailHelp" placeholder="E-mail address" required>
                          <br>
                          <input type="submit" value="Reset My Password" class="reset_btn">
                      </div>
                      </form>
                    <p class="text">Please contact us if you have any trouble resetting your password.</p>
                </div>
            </div>
        </div>
    </body>
</html>
