<div class="tab-pane fade" id="prefer" role="tabpanel" aria-labelledby="prefer-tab">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card my-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-control">
                            <label class="custom-control overflow-checkbox">
                                <input type="checkbox" class="overflow-control-input">
                                <span class="overflow-control-indicator"></span>
                                <span class="overflow-control-description">Preference</span>
                            </label>
                        </li>
                        <li class="list-group-control">
                            <label class="custom-control overflow-checkbox">
                                <input type="checkbox" class="overflow-control-input">
                                <span class="overflow-control-indicator"></span>
                                <span class="overflow-control-description">Preference</span>
                            </label>
                        </li>
                        <li class="list-group-control">
                            <label class="custom-control overflow-checkbox">
                                <input type="checkbox" class="overflow-control-input">
                                <span class="overflow-control-indicator"></span>
                                <span class="overflow-control-description">Preference</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card my-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-control">
                            <label class="custom-control overflow-checkbox">
                                <input type="checkbox" class="overflow-control-input">
                                <span class="overflow-control-indicator"></span>
                                <span class="overflow-control-description">Preference</span>
                            </label>
                        </li>
                        <li class="list-group-control">
                            <label class="custom-control overflow-checkbox">
                                <input type="checkbox" class="overflow-control-input">
                                <span class="overflow-control-indicator"></span>
                                <span class="overflow-control-description">Preference</span>
                            </label>
                        </li>
                        <li class="list-group-control">
                            <label class="custom-control overflow-checkbox">
                                <input type="checkbox" class="overflow-control-input">
                                <span class="overflow-control-indicator"></span>
                                <span class="overflow-control-description">Preference</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
