<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search result</title>
  </head>
  <body>
    <h2>Search results</h2>
    <ul>
      {% for result in search_results %}
        <div>
          <a href="{% url 'blog:article_detail' result.id %}">{{result.title}}</a>
          {% for text in result.meta.highlight.text%}
            <p>{{text|safe}}</p>
          {% endfor %}
        </div>
        <hr>
      {% empty %}
        <h2>No results</h2>
      {% endfor %}
    </ul>
  </body>
</html>
