{% extends 'blog/base.html' %}
{% block title %}Quiz results{% endblock %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'quiz/css/quizresults.css' %}">
{% endblock %}

{% block page %}
    <div class="all">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-6 ">
                    <div class="card d-block " style="padding: 20px;">
                        <div class="trueorfalse d-flex justify-content-center">
                            <h4 style="color:#155724;"><i class="far fa-smile"></i>True</h4>
                            <h4>/</h4>
                            <h4 style="color:#721c24 ;"><i class="far fa-frown-open"></i>False</h4>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                        <div class="alert alert-success" role="alert">
                            1. <i class="far fa-smile"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                        <div class="alert alert-danger" role="alert">
                            2. <i class="far fa-frown-open"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
